@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
  background-size: cover;
}

:root {
  --main-border-rad: 10px;
  --main-disc-height: 30px;
  --main-txt-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-game-rules {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#rules {
  color: white;
  font-family: "Ubuntu", sans-serif;
  width: 25%;
  background-color: #787e85;
  border: #464749 5px solid;
  text-align: center;
  margin: 0 0 0 2%;
}
#rules h4 {
  font-size: 30px;
  padding: 0;
  margin: 10px 0 10px 0;
}
#rules ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}
#rules ul li:last-child {
  margin-top: 15px;
}
#start {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #787e85;
  border: #464749 5px solid;
  align-items: flex-end;
}
#torre_01,
#torre_02,
#torre_03 {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: 6px solid #3d7dfc;
}

#azul {
  width: 110%;
  height: var(--main-disc-height);
  background-color: #4ecdc4;
  border: solid 1px #2c8f88;
  border-radius: var(--main-border-rad);
  text-align: var(--main-txt-align);
}
#verde {
  width: 80%;
  height: var(--main-disc-height);
  background-color: #c7f464;
  border: solid 1px #97c435;
  border-radius: var(--main-border-rad);
  text-align: var(--main-txt-align);
}
#vermelhoclr {
  width: 60%;
  height: var(--main-disc-height);
  background-color: #ff6b6b;
  border: solid 1px #f74c4c;
  border-radius: var(--main-border-rad);
  text-align: var(--main-txt-align);
}
#vermelhoesc {
  width: 30%;
  height: var(--main-disc-height);
  background-color: #c44d58;
  border: solid 1px #aa3944;
  border-radius: var(--main-border-rad);
  text-align: var(--main-txt-align);
}

#verde:hover,
#azul:hover,
#vermelhoclr:hover,
#vermelhoesc:hover {
  opacity: 0.8;
  border: solid 2px white;
}

h1 {
  height: 50px;
  width: 300px;
  color: #2f353b;
  margin: 0 auto;
  padding-top: 10px;
  text-align: var(--main-txt-align);
  font-family: "Ubuntu", sans-serif;
  background-color: #97c435;
  border: 5px solid #6a8a27;
  border-radius: var(--main-border-rad);
}
@media screen and (max-width: 900px) {
  #torre_01,
  #torre_02,
  #torre_03 {
    color: black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 6px solid#3d7dfc;
  }
  #rules ul {
    text-align: center;
    list-style-type: none;
    padding: 0 5px 0 5px;
  }
}
@media screen and (max-width: 700px) {
  #torre_01,
  #torre_02,
  #torre_03 {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 6px solid#3d7dfc;
  }
  #container-game-rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #rules {
    color: white;
    font-family: "Ubuntu", sans-serif;
    width: 90%;
    background-color: #787e85;
    border: #464749 5px solid;
    text-align: center;
    margin: 2% 0 0 0;
  }
  #start {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #787e85;
    border: #464749 5px solid;
    align-items: flex-end;
  }
}
